<footer>
	<ul class="list-inline text-center banner-social-buttons">
        {% for network in site.social %}
        <li>
            <a href="{{ network.url }}" class="btn btn-lg"><i class="fa fa-{{ network.title }} fa-2x"></i></a>
        </li>
        {% endfor %}
    </ul>
    <div class="container text-center">
        <p><i class="fa fa-map-marker"></i><b> Grand Canyon, Arizona, USA</b>. August 2016.</p>
        <br></br>
        <p>Copyright &copy; {{ site.footer }} 20{{ site.time | date: '%y' }}.</p>
    </div>
</footer>
