<header id="top" class="header">
  <div class="text-vertical-center">
    <h1 style="color:white">David Zhang</h1>
    <h3 style="color:white">Software Engineer</h3>
    <br>
    <ul class="list-inline">
      <li>
        <a href="https://linkedin.com/in/{{ site.linkedin_username }}" class="btn btn-dark btn-lg"><i class="fa fa-linkedin fa-fw fa-1x"></i>Linkedin</a>
      </li>
      <li>
        <a href="/assets/resume.pdf" class="btn btn-dark btn-lg"><i class="fa fa-file fa-fw fa-1x"></i>Latest Resume</a>
      </li>
      <li>
        <a href="https://github.com/{{ site.github_username }}" class="btn btn-dark btn-lg"><i class="fa fa-github fa-fw fa-1x"></i>Github</a>
      </li>
    </ul>
    <br>
  </div>
</header>
