    <!-- Download Section -->
    <section id="projects" class="content-section text-center">
        <div class="projects-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Projects</h2>
                        {% for project in site.data.projects %}
                            <img src="{{project.image_url}}"></img>
                        {% endfor %}
                </div>
            </div>
        </div>
    </section>